<div class="row">
  <div class="span8">
    {{ content }}
  </div>
  <div class="span4">
    <h2>Quick Info</h2>
    <table>
      <tr>
        <th colspan="2"><img src='/assets/images/logo.png'></th>
      </tr>
      <tr>
        <th colspan="2"><h3>The Katana Programming Language</h3></th>
      </tr>
      <tr>
        <th>Syntax</th>
        <td>C-like</td>
      </tr>
      <tr>
        <th>Paradigms</th>
        <td>Imperative, Object-Oriented (Prototypal), Functional</td>
      </tr>
      <tr>
        <th>Typing Discipline</th>
        <td>Strong &amp; Static, Weak &amp; Dynamic</td>
      </tr>
      <tr>
        <th>Influenced By</th>
        <td>C, D, JavaScript, CoffeeScript</td>
      </tr>
      <tr>
        <td colspan=2><hr></td>
      </tr>
      <tr>
        <th colspan="2"><h3>The Katana Compiler</h3></th>
      </tr>
      <tr>
        <th>License</th>
        <td>MIT</td>
      </tr>
      <tr>
        <th>Github Repo</th>
        <td><a href="https://github.com/coreh/katana">https://github.com/coreh/katana</a></td>
      </tr>
    </table>
  </div>
</div>
