<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Katana</string>
	<key>uuid</key>
	<string>BB2D5CD4-FDB1-44CA-BB22-CD1AB1751F78</string>
</dict>
</plist>
